@using FCCore.Model
@using FCWeb.ViewComponents

<!DOCTYPE html>
<html ng-app="fc">
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title translate="OFFICIAL_SITE"></title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link href="~/lib/ideal-image-slider/ideal-image-slider.css" rel="stylesheet" />
        <link href="~/lib/ideal-image-slider/themes/default/default.css" rel="stylesheet" />
        <link href="~/lib/ng-image-gallery/dist/ng-image-gallery.css" rel="stylesheet" />
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        @*<link rel="stylesheet" href="~/css/site.css" />*@
    </environment>
    <environment names="Staging,Production">
        @*<link href="https://fonts.googleapis.com/css?family=Noto+Serif&subset=cyrillic,cyrillic-ext" rel="stylesheet">*@
        <link rel="stylesheet" href="~/css/bootstrap.css" />
        <link href="~/lib/ideal-image-slider/ideal-image-slider.css" rel="stylesheet" />
        <link href="~/lib/ideal-image-slider/themes/default/default.css" rel="stylesheet" />
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>
</head>
<body ng-controller="rootCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <div>
                        <a href="/">
                            <img src="/images/skin/logo_002d72_white_boarder_45x45.png" />
                        </a>
                    </div>
                    <div class="navbar-brand-label">
                        <span class="text-uppercase" translate="OFF_NAME">СФК «СЛУЦК»</span><br />
                        <span class="text-uppercase" translate="OFFICIAL_SITE">ОФИЦИАЛЬНЫЙ САЙТ</span>
                    </div>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="CLUB"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/club/mainteam" translate="MAIN_STAFF"></a></li>
                            <li><a href="/club/reserveteam" translate="RESERVE_STAFF"></a></li>
                            <li><a href="/club/youthteams" translate="YOUTH_TEAMS"></a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/club/direction" translate="SENIOR_STAFF"></a></li>
                            <li><a href="/club/coaches" translate="COACHES_STAFF"></a></li>
                            <li><a href="/club/medics" translate="MEDICAL_STAFF"></a></li>
                            <li><a href="/club/specialists" translate="SPECIALISTS_STAFF"></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="RESULTS"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/results/mainteam" translate="MAIN_STAFF"></a></li>
                            <li><a href="/results/reserveteam" translate="RESERVE_STAFF"></a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="INFORMATION"></span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/info/tickets">Покупка билетов и абонементов</a></li>
                            <li><a href="/info/stadium-rules" translate="STADIUM_RULES"></a></li>
                            <li><a href="#" translate="LOW_FC_N_S"></a></li>
                            <li><a href="#" translate="FC_AGAINST_RACISM"></a></li>
                            <li><a href="#" translate="CONTACTS"></a></li>
                        </ul>
                    </li>
                    @*<li><a asp-controller="Home" asp-action="Contact"><span translate="ATTRIBUTES">Атрибутика</span></a></li>*@
                    <li><a asp-controller="Home" asp-action="Contact"><span translate="HISTORY"></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:void(0);" ng-click="changeLanguage('ru')" style="padding: 10px 5px 0 5px;"><div class="inline-flag ru" translate translate-attr-title="SHORT_LANG_RU"></div></a></li>
                    <li><a href="javascript:void(0);" ng-click="changeLanguage('by')" style="padding: 10px 5px 0 5px;"><div class="inline-flag by" translate translate-attr-title="SHORT_LANG_BY"></div></a></li>
                    <li><a href="javascript:void(0);" ng-click="changeLanguage('en')" style="padding: 10px 5px 0 5px;"><div class="inline-flag uk" translate translate-attr-title="SHORT_LANG_EN"></div></a></li>                    
                </ul>
                @*@await Html.PartialAsync("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img src="../../../images/skin/sponsors/main-banner-slot-1.png" class="img-responsive" />
            </div>
        </div>
        <div class="fc-container fc-grad main-brand">
            <div class="row">
                <div class="main-brand-left-block hidden-xs hidden-sm col-md-5">
                    <div class="hidden-xs row">
                        <div class="col-sm-12">
                            <h4 class="text-bg-color">
                                <strong translate="OFFICIAL_NAME">Спортивный футбольный клуб «Слуцк»</strong><br />
                                <small><em translate="OFFICIAL_SLOGAN">Футбол - этот не всё, но все без футбола - ничто!</em></small>
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <social-buttons />
                        </div>
                    </div>
                    <div class="hidden-xs row">
                        <div class="col-sm-12">
                            <span class="text-uppercase text-prim5-color" translate="OFFICIAL_SITE">ОФИЦИАЛЬНЫЙ САЙТ</span>
                        </div>
                    </div>
                </div>
                <div class="main-brand-logo hidden-xs hidden-sm col-md-2">
                    <a href="/">
                        <img src="~/images/skin/logo_002d72_800x800.png" />
                    </a>
                </div>
                <div class="main-brand-right-block col-xs-12 col-md-5">
                    <div class="col-xs-12"><social-buttons /></div>
                    <quick-games-info></quick-games-info>
                </div>
            </div>
        </div>
        @RenderBody()
        <footer>
            <div class="fc-pane fc-pane-dark fc-partners-bottom">
                <div class="fc-pane-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <h5 class="header" style="padding: 0 10px;">
                                <span class="text-uppercase" translate="PARTNERS_AND_SPONSORS"></span>
                            </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 fc-partners-logo">
                            <a href="http://sugar.by"
                               title='ОАО "Слуцкий сахарорафинадный комбинат"'>
                                <img src="../../../images/skin/sponsors/slot1.png" class="img-responsive"
                                     alt='ОАО "Слуцкий сахарорафинадный комбинат"' />
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 fc-partners-logo">
                            <a href="http://bgs.by/"
                               title='Белгосстрах'>
                                <img src="../../../images/skin/sponsors/slot2.png" class="img-responsive"
                                     alt='Белгосстрах' />
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 fc-partners-logo">
                            <a href="http://belarus.kws.com"
                               title='KWS - почти 160 лет неизменных традиций и опыта в более 70 странах мира'>
                                <img src="../../../images/skin/sponsors/slot3.png" class="img-responsive"
                                     alt='KWS - почти 160 лет неизменных традиций и опыта в более 70 странах мира' />
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 fc-partners-logo">
                            <a href="javascript:void(0);"
                               title='КУП "Слуцкий рынок ОПС"'>
                                <img src="../../../images/skin/sponsors/slot4.png" class="img-responsive"
                                     alt='КУП "Слуцкий рынок ОПС"' />
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 fc-partners-logo">
                            <a href="javascript:void(0);"
                               title='ЗАО "Торговый Дом"'>
                                <img src="../../../images/skin/sponsors/slot5.png" class="img-responsive"
                                     alt='ЗАО "Торговый Дом"' />
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 fc-partners-logo">
                            <a href="http://sugar.by"
                               title='Торговый центр «Маяк»'>
                                <img src="../../../images/skin/sponsors/slot6.png" class="img-responsive"
                                     alt='Торговый центр «Маяк»' />
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 fc-partners-logo">
                            <a href="javascript:void(0);"
                               title='КТПУП "Слуцк-Восток"'>
                                <img src="../../../images/skin/sponsors/slot7.png" class="img-responsive"
                                     alt='КТПУП "Слуцк-Восток"' />
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 fc-partners-logo">
                            <a href="javascript:void(0);"
                               title='КТПУП "Слуцк-Восток"'>
                                <img src="../../../images/skin/sponsors/slot7.png" class="img-responsive"
                                     alt='КТПУП "Слуцк-Восток"' />
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 fc-partners-logo">
                            <a href="javascript:void(0);"
                               title='КТПУП "Слуцк-Восток"'>
                                <img src="../../../images/skin/sponsors/slot7.png" class="img-responsive"
                                     alt='КТПУП "Слуцк-Восток"' />
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 fc-partners-logo">
                            <a href="javascript:void(0);"
                               title='КТПУП "Слуцк-Восток"'>
                                <img src="../../../images/skin/sponsors/slot7.png" class="img-responsive"
                                     alt='КТПУП "Слуцк-Восток"' />
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 fc-partners-logo">
                            <a href="javascript:void(0);"
                               title='КТПУП "Слуцк-Восток"'>
                                <img src="../../../images/skin/sponsors/slot7.png" class="img-responsive"
                                     alt='КТПУП "Слуцк-Восток"' />
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 fc-partners-logo">
                            <a href="javascript:void(0);"
                               title='КТПУП "Слуцк-Восток"'>
                                <img src="../../../images/skin/sponsors/slot7.png" class="img-responsive"
                                     alt='КТПУП "Слуцк-Восток"' />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="fc-pane fc-pane-thread-fix">
                        <div class="fc-pane-body">
                                <div class="col-sm-3">
                                    <h5 translate="CLUB"></h5>
                                    <ul>
                                        <li><a href="/club/mainteam" translate="MAIN_STAFF"></a></li>
                                        <li><a href="/club/reserveteam" translate="RESERVE_STAFF"></a></li>
                                        <li><a href="/club/youthteams" translate="YOUTH_TEAMS"></a></li>
                                        <li><a href="/club/direction" translate="SENIOR_STAFF"></a></li>
                                        <li><a href="/club/coaches" translate="COACHES_STAFF"></a></li>
                                        <li><a href="/club/medics" translate="MEDICAL_STAFF"></a></li>
                                        <li><a href="/club/specialists" translate="SPECIALISTS_STAFF"></a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <h5 translate="RESULTS"></h5>
                                    <ul>
                                        <li><a href="/results/mainteam" translate="MAIN_STAFF"></a></li>
                                        <li><a href="/results/reserveteam" translate="RESERVE_STAFF"></a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <h5 translate="INFORMATION"></h5>
                                    <ul>
                                        <li><a href="/info/stadium-rules" translate="STADIUM_RULES"></a></li>
                                        <li><a href="#" translate="LOW_FC_N_S"></a></li>
                                        <li><a href="#" translate="FC_AGAINST_RACISM"></a></li>
                                        <li><a href="#" translate="CONTACTS"></a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <h5><a href="#" translate="HISTORY"></a></h5>
                                </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="text-center">© 2009-2017 - <span translate="OFFICIAL_NAME_N_FORM"></span></p>
                                </div>
                            </div>
                        </div>
                        <div class="bg-threads"></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div id="config" style="display: none;">
        @Component.InvokeAsync("FrontConfig").Result
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/ideal-image-slider/ideal-image-slider.js"></script>
        <script src="~/lib/ideal-image-slider/extensions/captions/iis-captions.js"></script>
        @*<script src="~/lib/horizontal-slider-source-code/js/responsiveCarousel.min.js"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="~/lib/angular/angular.js"></script>
        <script src="https://code.angularjs.org/1.3.0-rc.2/i18n/angular-locale_ru-ru.js"></script>
        <script src="https://code.angularjs.org/1.3.0-rc.2/i18n/angular-locale_be-by.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-translate/angular-translate.js"></script>
        <script src="~/lib/angular-translate-storage-local/angular-translate-storage-local.js"></script>
        <script src="~/lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
        <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/ng-image-gallery/dist/ng-image-gallery.js"></script>
        @*<script src="~/lib/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>*@
        <script src="~/lib/fc/modules/fc.core.js"></script>
        <script src="~/lib/fc/modules/core/helper.js"></script>
        <script src="~/lib/fc/modules/core/notificationmanager.js"></script>
        <script src="~/lib/fc/modules/core/apisrv.js"></script>
        <script src="~/lib/fc/modules/core/publicationsSrv.js"></script>
        <script src="~/lib/fc/modules/core/configsrv.js"></script>
        <script src="~/lib/fc/modules/core/rankingsSrv.js"></script>
        <script src="~/lib/fc/modules/core/gamessrv.js"></script>
        <script src="~/lib/fc/modules/core/videossrv.js"></script>
        <script src="~/lib/fc/modules/core/imagegallerysrv.js"></script>
        <script src="~/lib/fc/modules/core/teamssrv.js"></script>
        <script src="~/lib/fc/modules/core/personssrv.js"></script>
        <script src="~/lib/fc/modules/core/tourneyssrv.js"></script>
        <script src="~/lib/fc/modules/core/statssrv.js"></script>
        <script src="~/lib/fc/modules/core/protocolsrv.js"></script>
        <script src="~/lib/fc/modules/core/unionSrv.js"></script>
        <script src="~/lib/fc/modules/fc.ui.js"></script>
        <script src="~/lib/fc/layout/teams/teamViewExt.directive.js"></script>
        <script src="~/lib/fc/layout/ranking/rankingTable.directive.js"></script>
        <script src="~/lib/fc/layout/results/latestResults.directive.js"></script>
        <script src="~/lib/fc/layout/games/quickgamesinfo.js"></script>
        <script src="~/lib/fc/layout/publications/publictionsTextList.directive.js"></script>
        <script src="~/lib/fc/layout/publications/publicationItem.directive.js"></script>
        <script src="~/lib/fc/layout/video/videoitem.directive.js"></script>
        <script src="~/lib/fc/layout/image/galleryitem.directive.js"></script>
        <script src="~/lib/fc/layout/publications/hotPublications.directive.js"></script>
        <script src="~/lib/fc/layout/maintable.directive.js"></script>
        <script src="~/lib/fc/layout/roundresults.directive.js"></script>
        <script src="~/lib/fc/layout/persons/playercarditem.directive.js"></script>
        <script src="~/lib/fc/layout/persons/staffcarditem.directive.js"></script>
        <script src="~/lib/fc/layout/persons/persontableitem.directive.js"></script>
        <script src="~/lib/fc/layout/persons/person.directive.js"></script>
        <script src="~/lib/fc/layout/teams/youthTeamPreview.directive.js"></script>
        <script src="~/lib/fc/layout/teams/team.directive.js"></script>
        <script src="~/lib/fc/layout/teams/staff.directive.js"></script>
        <script src="~/lib/fc/layout/teams/coaches.directive.js"></script>
        <script src="~/lib/fc/layout/socialbuttons.directive.js"></script>
        <script src="~/lib/fc/layout/results/results.directive.js"></script>
        <script src="~/lib/fc/layout/entitylink.directive.js"></script>
        <script src="~/lib/fc/layout/protocol/textmainprotocol.directive.js"></script>
        <script src="~/lib/fc/layout/protocol/textreserveprotocol.directive.js"></script>
        <script src="~/lib/fc/layout/protocol/texteventprotocol.directive.js"></script>
        <script src="~/lib/fc/layout/protocol/textgoalprotocol.directive.js"></script>
        <script src="~/lib/fc/layout/protocol/textSubsRecursiveInfo.directive.js"></script>
        <script src="~/lib/fc/layout/image/imagegallery.directive.js"></script>
        <script src="~/lib/fc/app.js"></script>
        <script src="~/lib/fc/home/rootctrl.js"></script>
        <script src="~/lib/fc/home/indexctrl.js"></script>
        <script src="~/lib/fc/publication/publicationctrl.js"></script>
        <script src="~/lib/fc/club/mainteamctrl.js"></script>
        <script src="~/lib/fc/club/reserveteamctrl.js"></script>
        <script src="~/lib/fc/club/youth/youthteamsctrl.js"></script>
        <script src="~/lib/fc/club/seniorstaffctrl.js"></script>
        <script src="~/lib/fc/club/coachesstaffctrl.js"></script>
        <script src="~/lib/fc/club/medicalstaffctrl.js"></script>
        <script src="~/lib/fc/club/specialistsstaffctrl.js"></script>
        <script src="~/lib/fc/team/teamCtrl.js"></script>
        <script src="~/lib/fc/person/personctrl.js"></script>
        <script src="~/lib/fc/results/resultsMainTeam.js"></script>
        <script src="~/lib/fc/results/resultsReserveTeam.js"></script>
        <script src="~/lib/fc/game/gamectrl.js"></script>
        <script src="~/lib/fc/info/tickets/ticketsctrl.js"></script>
        <script src="~/lib/fc/info/stadiumrules/stadiumrulesctrl.js"></script>
    </environment>
    <environment names="Staging,Production">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>*@

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="https://code.angularjs.org/1.3.0-rc.2/i18n/angular-locale_ru-ru.js"></script>
        <script src="https://code.angularjs.org/1.3.0-rc.2/i18n/angular-locale_be-by.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)

</body>
</html>
