@using FCCore.Model
<!DOCTYPE html>
<html ng-app="fc.admin">
    <head>
        <base href="/">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title translate="OFFICIAL_SITE">Официальный сайт</title>

        <environment names="Development">
            <link rel="stylesheet" href="~/css/bootstrap.css" />
            @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link href="~/lib/simple-angular-autocomplete-master/src/simple-autocomplete.css" rel="stylesheet" />*@
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/css/bootstrap.css" />
            @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
        </environment>
    </head>
    <body ng-controller="rootCtrl" ng-click="click();">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <div>
                            <a href="/">
                                <img src="/images/skin/logo_002d72_white_boarder_45x45.png" />
                            </a>
                        </div>
                        <div class="navbar-brand-label">
                            <span>СФК «СЛУЦК»</span><br />
                            <span>ОФИЦИАЛЬНЫЙ САЙТ</span>
                        </div>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-home"></span></a></li>
                        <li class="dropdown">
                            <a asp-controller="Office" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-th-large"></span> <span>Публикации</span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Статьи</a></li>
                                <li><a href="#">Фото</a></li>
                                <li><a href="#">Видео</a></li>
                                <li role="separator" class="divider"></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-eye-open"></span> <span>Персоны</span><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a ng-href="office/persons">Все персоны</a></li>
                            </ul>
                        </li>
                    </ul>
                    @*@await Html.PartialAsync("_LoginPartial")*@
                </div>
            </div>
        </div>
        <div class="container body-content">
            <div class="fc-container fc-grad main-brand">
                <div class="row">
                    <div class="main-brand-left-block hidden-sm hidden-xs col-md-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="text-bg-color">
                                    <strong translate="OFFICIAL_NAME">Спортивный футбольный клуб «Слуцк»</strong><br />
                                    <small><em translate="OFFICIAL_SLOGAN">Футбол - этот не всё, но все без футбола - ничто!</em></small>
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <social-buttons />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="text-uppercase text-prim5-color" translate="OFFICIAL_SITE">ОФИЦИАЛЬНЫЙ САЙТ</span>
                            </div>
                        </div>
                    </div>
                    <div class="main-brand-logo col-md-2 col-sm-2 hidden-xs">
                        <a href="/">
                            <img src="~/images/skin/logo_002d72_800x800.png" />
                        </a>
                    </div>
                    <div class="main-brand-right-block col-md-5 col-sm-10 col-xs-12">
                        <div class="row visible-sm" style="margin-bottom: 8px;">
                            <div class="col-xs-7"><h5 class="text-uppercase"><strong translate="OFFICIAL_NAME">Спортивный футбольный клуб «Слуцк»</strong></h5></div>
                            <div class="col-xs-5"><social-buttons /></div>

                        </div>
                        <table class="table table-borderless" style="margin-bottom: 0;">
                            <tr>
                                <td class="text-bg-color text-right"><h5>18:00. 17 апреля.<br /><small>11 тур. Высшая лига</small></h5></td>
                                <td class="text-bg-color text-left"><h5>Слуцк - Динамо-Минск. 4:2<br /><small class="text-center">Стадион: Городской (Слуцк)</small></h5></td>
                            </tr>
                            <tr>
                                <td class="text-bg-color text-right"><h5>22 апреля.<br /><small>1/8 финала. Кубок Беларуси</small></h5></td>
                                <td class="text-bg-color text-left"><h5>Торпедо-БелАЗ - Слуцк<br /><small class="text-center">Стадион: Торпедо (Жодино)</small></h5></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2016 - FCWeb</p>
            </footer>
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/jquery-ui/jquery-ui.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>

            <script src="~/lib/angular/angular.js"></script>
            <script src="~/lib/angular-route/angular-route.js"></script>
            <script src="~/lib/angular-translate/angular-translate.js"></script>
            <script src="~/lib/angular-translate-storage-local/angular-translate-storage-local.js"></script>
            <script src="~/lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
            <script src="~/lib/angular-ui-bootstrap/ui-bootstrap-tpls-1.2.4.js"></script>
            <script src="~/lib/angular-ui-bootstrap-datetimepicker/datetimepicker.js"></script>
            <script src="~/lib/angular-ui-numeric-master/src/angular-ui-numeric.js"></script>
            <script src="~/lib/ng-file-upload/ng-file-upload.js"></script>
            <script src="~/lib/ng-file-upload/ng-file-upload-shim.js"></script>
            <script src="~/lib/simple-angular-autocomplete-master/src/simple-autocomplete.js"></script>

            <script src="~/lib/ckeditor/ckeditor.js"></script>

            <script src="~/lib/fc/modules/fc.core.js"></script>
            <script src="~/lib/fc/modules/core/helper.js"></script>
            <script src="~/lib/fc/modules/core/notificationmanager.js"></script>
            <script src="~/lib/fc/modules/core/apisrv.js"></script>
            <script src="~/lib/fc/modules/core/publicationsSrv.js"></script>
            <script src="~/lib/fc/modules/core/personssrv.js"></script>
            <script src="~/lib/fc/modules/core/videossrv.js"></script>
            <script src="~/lib/fc/modules/core/teamssrv.js"></script>
            <script src="~/lib/fc/modules/core/configsrv.js"></script>
            <script src="~/lib/fc/modules/core/gamessrv.js"></script>
            <script src="~/lib/fc/modules/core/imagegallerysrv.js"></script>
            <script src="~/lib/fc/modules/core/protocolsrv.js"></script>
            <script src="~/lib/fc/modules/fc.ui.js"></script>
            <script src="~/lib/fc/modules/ui/filebrowsersrv.js"></script>
            <script src="~/lib/fc/layout/office/publicationitem.directive.js"></script>
            <script src="~/lib/fc/layout/office/ckeditor.directive.js"></script>
            <script src="~/lib/fc/layout/office/fileupload.directive.js"></script>
            <script src="~/lib/fc/layout/customonchange.directive.js"></script>
            <script src="~/lib/fc/layout/autocompletecustom.directive.js"></script>
            <script src="~/lib/fc/layout/office/videoedit.directive.js"></script>
            <script src="~/lib/fc/layout/socialbuttons.directive.js"></script>
            <script src="~/lib/fc/layout/office/protocoledit/protocoledit.directive.js"></script>
            <script src="~/lib/fc/layout/office/protocoledit/protocolfakeedit.directive.js"></script>
            <script src="~/lib/fc/layout/office/protocoledit/controls/goalrecord.directive.js"></script>
            <script src="~/lib/fc/layout/office/protocoledit/controls/subrecord.directive.js"></script>
            <script src="~/lib/fc/layout/office/protocoledit/controls/eventgrouprecord.directive.js"></script>
            <script src="~/lib/fc/layout/office/protocoledit/controls/fakestartrecord.directive.js"></script>
            <script src="~/lib/fc/layout/office/protocoledit/controls/fakeeventrecord.directive.js"></script>
            <script src="~/lib/fc/layout/fcautocomplete.directive.js"></script>
            <script src="~/lib/fc/layout/office/contentupload/contentupload.directive.js"></script>
            <script src="~/lib/fc/layout/office/contentupload/contentuploadctrl.js"></script>
            <script src="~/lib/fc/layout/office/filebrowser/filebrowser.directive.js"></script>
            <script src="~/lib/fc/layout/office/filebrowser/filebrowserctrl.js"></script>
            <script src="~/lib/fc/appAdmin.js"></script>
            <script src="~/lib/fc/office/indexCtrl.js"></script>
            <script src="~/lib/fc/office/rootctrl.js"></script>            
            <script src="~/lib/fc/office/publication/publicationeditctrl.js"></script>
            <script src="~/lib/fc/office/persons/personeditctrl.js"></script>
            <script src="~/lib/fc/office/videos/videoeditctrl.js"></script>
            <script src="~/lib/fc/office/images/imagegalleryeditctrl.js"></script>
            <script src="~/lib/fc/office/teams/teameditctrl.js"></script>
            <script src="~/lib/fc/office/games/gameeditctrl.js"></script>
            <script src="~/lib/fc/office/games/protocoleditctrl.js"></script>
            <script src="~/lib/fc/office/persons/personslistctrl.js"></script>
            <script src="~/lib/fc/office/utils/filebrowseradapterctrl.js"></script>
            <script src="~/lib/fc/office/utils/filebrowserpopupctrl.js"></script>

        </environment>
        <environment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("scripts", required: false)

    </body>
</html>
